.Details {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.game-versions,
.move-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
  width: 100%;
  padding: 5px;

  overflow-y: auto;
}

.Details h3 {
  width: 50%;
  border-bottom: 2px solid white;
}

.Details p {
  text-align: center;
  width: 60%;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background-color: rgba(240, 248, 255, 0.065);
}
