.Graph * {
  text-align: center;
}

.Graph {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;

  width: 80%;
  height: 50%;
}

.graph-bar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
}

.graph-bar span {
  padding: 5px;
}

.graph-bar span:nth-child(2) {
  flex: 1;
  width: 100%;
  background-color: rgb(186, 186, 186);
}
