.SearchForm * {
  font-size: 1.2rem;
}

.SearchForm {
  flex: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 100%;
  height: 100%;
}

.SearchForm .form-field,
.SearchForm button {
  text-align: center;

  width: 12em;
  height: 60px;
  padding: 10px;
  border: 2px solid white;

  background-color: transparent;
}

.SearchForm .form-field::placeholder {
  color: rgb(154, 153, 153);
}

.SearchForm.used {
  animation: minimize 0.6s forwards;
}

.SearchForm button {
  background-color: rgba(0, 0, 0, 0.42);
}

option {
  background-color: black;
  padding: 20px;
  height: 10px;
  font-size: 1.2em;
}

@keyframes minimize {
  0% {
    flex: 10;
  }

  100% {
    flex: 1;
  }
}
