.LoadingIconContainer {
  z-index: 5;
  pointer-events: none;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.347);
}

.LoadingIconContainer.inactive {
  opacity: 0;
  background-color: blue;
}

.LoadingIconContainer.active {
  opacity: 1;
  animation: firstLoading 1s forwards;
}

.LoadingIcon {
  position: relative;
  width: 100px;
  height: 100px;

  border: 5px solid rgb(255, 255, 255);
  border-radius: 50%;

  background-color: black;

  animation: loading 0.8s forwards ease-in-out infinite;
}

.LoadingIcon div:nth-child(1) {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  height: 6px;
  background-color: rgb(255, 255, 255);
}

.LoadingIcon div:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 5px solid white;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  padding: 20px;
}

@keyframes firstLoading {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    transform: translate(0, 0);
  }

  6% {
    transform: translate(5px, 0);
  }

  12% {
    transform: translate(-5px, 0);
  }

  18% {
    transform: translate(5px, 0);
  }

  25% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}
