.CustomLink {
  text-align: center;
  padding: 10px;
  width: 100px;
}

.selected {
  background-color: rgba(157, 191, 198, 0.364);
  border: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
